<div class="table_4_container display_off">
    <div class="company_headers">
        <div class="company_requisites">
            <div class="double">
                <h3 class="margin">Company name:</h3>
                <p class="margin">{{ cust.customer_name }}</p>
            </div>
            <div class="margin">
            </div>

        </div>
        <div class="company_requisites">
            <div class="double">
                <h3 class="margin">Company VAT:</h3>
                <p class="margin">{{ cust.customer_vat}}</p>
            </div>
            <div class="margin status">
                <span class="text green">Valid</span>
            </div>
        </div>
        <div class="company_requisites">
            <div class="double">
                <h3 class="margin">Company official address:</h3>
                <p class="margin">{{ cust.customer_address }}</p>
            </div>
            <div class="margin">
            </div>
        </div>
        <div class="company_requisites">
            <div class="double">
                <h3 class="margin">Company delivery address:</h3>
                <p class="margin">{{ cust.customer_delivery_address }}</p>
            </div>
            <div class="margin">
            </div>
        </div>
        <div class="company_requisites">
            <div class="double">
                <h3 class="margin">Email:</h3>
                <p class="margin margin2">{{ cust.customer_email }}</p>
            </div>
            <div class="margin status">
                    <span class="text green">Valid</span>
            </div>
        </div>
        <div class="company_requisites">
            <div class="double">
                <h3 class="margin">Phone:</h3>
                <p class="margin">{{ cust.customer_phone }}</p>
            </div>
            <div class="margin status">
                <span class="text red">Invalid</span>    
            </div>
        </div>
        <div>
            <p class="manager">Your manager:</p>
            <p class="manager">Sergejs Petrovs</p>
            <p class="manager">+37122115566</p>
        </div>    
    </div>
</div>
