<div id="order_modal" class="order_modal">
    <div class="order_modal_content">
        <div class="row">
            <span id="order_close" class="close">&times;</span>
        </div>
        <div class="order_modal_container">
            <table class="table_order_modal">
                <thead class="table_order_modal_head">
                    <tr>
                        <th>Item name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
            </table>
            <div class="scrollable_modal">
                <table class="table_order_modal_body">
                    <tbody id="table_order_modal_body_tbody">
                    </tbody>
                    <tbody id="table_order_modal_body_tbody_2">
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>